<div class="card m-auto mt-5" style="width: 50rem">
  <form #examForm="ngForm" class="card-body">
    <div class="d-flex">
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="newExam.programId"
        name="programId"
      >
        <option selected disabled value="">Choose Program</option>

        @for (program of programs; track $index) {
        <option value="{{ program.id }}">
          {{ program.name }}
        </option>
        }
      </select>

      <select
        class="form-select ms-4"
        aria-label="Default select example"
        name="subjectId"
        [(ngModel)]="newExam.subjectId"
      >
        <option selected disabled value="">Choose Subject</option>
        @for (subject of subjects; track $index) {
        <option value="{{ subject.id }}">
          {{ subject.name }}
        </option>
        }
      </select>
    </div>

    <div class="d-flex mt-3">
      <select
        class="form-select"
        aria-label="Default select example"
        name="semesterId"
        [(ngModel)]="newExam.semesterId"
      >
        <option selected disabled value="">Choose Semester</option>
        @for (sem of semesters; track $index) {
        <option value="{{ sem.id }}">
          {{ sem.sem }}
        </option>
        }
      </select>
      <input
        type="text"
        class="form-control ms-3"
        id="floatingPassword"
        placeholder="Name"
        name="name"
        [(ngModel)]="newExam.name"
      />
    </div>

    <div class="d-flex mt-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="batch"
          placeholder="Batch"
          name="batch"
          [(ngModel)]="newExam.batch"
        />
        <label for="batch">Batch</label>
      </div>
      <div class="form-floating ms-3">
        <input
          type="number"
          class="form-control"
          id="examDuration"
          placeholder="Exam Duration"
          name="examDuration"
          [(ngModel)]="newExam.examDuration"
        />
        <label for="examDuration">Exam Duration</label>
      </div>
      <div class="form-floating ms-4">
        <input
          type="number"
          class="form-control"
          id="examDuration"
          placeholder="Exam Total Marks"
          name="examTotalMarks"
          [(ngModel)]="newExam.examTotalMarks"
        />
        <label for="examTotalMarks">Exam Totalmarks</label>
      </div>
    </div>

    <div class="d-flex mt-3">
      <div class="form-floating">
        <input
          type="datetime-local"
          class="form-control"
          id="startDate"
          placeholder="Start Date"
          [(ngModel)]="newExam.startDate"
          name="startDate"
        />
        <label for="startDate">Start Date</label>
      </div>
      <div class="form-floating ms-3">
        <input
          type="datetime-local"
          class="form-control"
          id="startDate"
          placeholder="End Date"
          name="endDate"
          [(ngModel)]="newExam.endDate"
        />
        <label for="endDate">End Date</label>
      </div>

      <div class="form-floating ms-3">
        <input
          type="number"
          class="form-control"
          id="examPassMarks"
          placeholder="Exam pass Marks"
          name="examPassMarks"
          [(ngModel)]="newExam.examPassMarks"
        />
        <label for="examPassMarks">Exam Passmarks</label>
      </div>
    </div>

    <div class="d-flex mt-3">
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="totalNoOfQuestions"
          placeholder="Exam Total Marks"
          name="totalNoOfQuestions"
          [(ngModel)]="newExam.totalNoOfQuestions"
        />
        <label for="totalNoOfQuestions">Total Questions</label>
      </div>
      <div class="form-floating ms-4">
        <input
          type="number"
          class="form-control"
          id="eachQuestionMarks"
          placeholder="Each Question Marks"
          name="eachQuestionMarks"
          [(ngModel)]="newExam.eachQuestionMarks"
        />
        <label for="eachQuestionMarks">Each Question Marks</label>
      </div>
    </div>

    <div class="form-floatin mt-3">
      <textarea
        class="form-control"
        placeholder="Leave a Description here"
        id="floatingTextarea2"
        name="description"
        [(ngModel)]="newExam.description"
        style="height: 100px"
      ></textarea>
    </div>

    <div class="d-grid mt-2">
      <button
        class="btn btn-success"
        (click)="addExam()"
        [disabled]="examForm.invalid"
      >
        Add Exam
      </button>
    </div>
  </form>
</div>
