@if(showSpinner){
<app-spinner></app-spinner>
} @else {
<button class="btn btn-success" (click)="addNewprogram()">Add program +</button>
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Created Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    @for (program of programs; track $index) {
    <tr>
      <td>
        <input #input type="text" class="input" value="{{ program.name }}" />
      </td>
      <td>{{ program.ceatedOn | date }}</td>
      <td>
        <button
          class="btn btn-sm btn-success"
          (click)="updateProgram(program.id, input.value)"
        >
          Update
        </button>
      </td>
      <td>
        <button
          class="btn btn-danger btn-sm"
          (click)="deleteProgram(program.id)"
        >
          Delete
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
}
