/* You can add global styles to this file, and also import other style files */
.pointer {
  cursor: pointer;
}
.profile-picture {
  left: 17%;
  position: absolute;
  top: 6%;
}
.active-tab {
  color: #121212;
}
